__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.DS_Store
outputs/
*.pt
*.npz
*.csv
*.parquet
*.jsonl

.pytest_cache/
.DS_Store
.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/